.card {
    height: 300px;

    .cardContent {
        display: flex;
        flex-direction: row;
    }
    .hSpacer {
        width: 10px;
    }

    .list {
        width: 380px;
        margin-right: 25px;
        .listItem {
            border-bottom: solid 1px #E4E4E4;
            
        
            .iconBg {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                > svg {
                    font-size: 18px;
                    color: white;
                }
            }
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .statusIcon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    
}