.container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    width: 840px;

    .content {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .verticalContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: none;
        
    }

    .verticalSegments {
        position: relative;
        display: flex;
        flex-direction: column;
        
        z-index: 2;
        flex: 1;

        .totalHours {
            margin-bottom: 20px;
        }
    }

    .horizontalSegment {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 5px;
        position: relative;
        flex: none;
        z-index: 1;
        width: 470px;
    }

    
    @media (max-height: 1172px) {
        .content {
            align-items: flex-end;
            flex: none;
            width: 818px;
            position: relative;

            .horizontalSegment {
                position: absolute;
                top: 0;
                bottom: 0px;
                right: 0px;
            }
        }
      }

    
    :global {
        .undrilled {
            .kpi {
                visibility: hidden;
            }

            .segmentBackground {
                background-color: #F3F3F3;
            }
        }
    }
}
