.container {
    position: relative;
    overflow: auto;
    display: flex;

    .content {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .verticalContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: none;
        width: 343px;
    }

    .verticalSegments {
        position: relative;
        display: flex;
        flex-direction: column;
        
        z-index: 2;
        flex: 1;

        .totalHours {
            margin-bottom: 20px;
        }
    }

    .horizontalSegment {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 5px;
        position: relative;
        flex: none;
        z-index: 1;
        width: 343px;
    }
    
    :global {
        .undrilled {
            .kpi {
                visibility: hidden;
            }

            .segmentBackground {
                background-color: #F3F3F3;
            }
        }
    }
}