.card {
    align-self: flex-start;
    display: flex;

    .cardContent {
        display: flex;
        flex-direction: row;
        @media (max-width: 1384px) {
            flex-direction: column;
        }
    }
    
    .hBigSpacer {
        width: 60px;
    }

    .hExtraLargeSpacer {
        width: 20%;
    }

    .row {
        display: flex;
        float: right;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .status {
        margin-right: 20px;
    }
}