.card {
    display: flex;

    .hBigSpacer {
        width: 35px;
    }

    .hExtraLargeSpacer {
        width: 20%;
    }

    .row {
        display: flex;
        align-items: center;
    }

    .optionsButton {
        &:focus {
            outline: 0;
        }
    }

    .status {
        margin-right: 20px;
    }
}