.card {
    padding: 8px;
    display: flex;
    flex-direction: column;
    
    .listContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .tabs {
        flex: none;
    }

    .tab {
        min-width: auto;
    }

    .input {
        flex: 1;
    }
}