

.timeSliderToolbar {
    display: flex;
    border-radius: 0;

    .collapseButtonContainer {
        border-radius: 0;
        border-right: 1px solid rgb(209, 208, 208);
        min-width: 30px;

        .collapseButton {
            outline: 0;
            height: 100%;
            
            svg {
                position: relative;
                left: 2px;
            }

            .svgExpanded {
                bottom: 60px;
            }
        }
    }

    .collapseButton {
        border-radius: 0;
        box-shadow: none;
        border-right: 1px solid rgb(209, 208, 208);
        border-bottom: 1px solid rgb(209, 208, 208);
        min-width: 30px;
        border: none;
    }

    .expandContainer {
        display: flex;
        flex: 0 0 calc(100% - 25px);
    }

    .noShrink {
        flex-shrink: 0;
    }
}