.card {
    border-radius: 0;
    box-shadow: none;
    border-right: 1px solid rgb(209, 208, 208);
    border-bottom: 1px solid rgb(209, 208, 208);

    .collapseButton {
        outline: 0;
        padding: 5px;
    }
}

.expandedContainer {
    display: flex;
}

.collapsedontainer {
    display: flex;
    min-height: 50px;
}

.noShrink {
    flex-shrink: 0;
}