@import "../../styles/base";

.widgetCardContainer { 
    padding: 10px;
    width: 100%;

    .widgetTitle {
        color: $gold;
    }

    .verticalMenu {
        position: relative;
        float: right;
        bottom: 30px;
    }
}

.expand {
  transform: rotate(0deg);
  outline: none;
}
.expand:focus {
  outline: none;
}

.expandOpen {
  transform: rotate(180deg)
}