@import "../../styles/base";

$header-height: 100px;

.viewport {
    height: calc(100vh - #{$header-height});
    position: relative;
    background-color: $backgroundColor;
  }

.headerToolbar {
  border-width: 1px 0;
  border-style: solid;
  border-color: rgb(209, 208, 208);
  border-radius: 0;

  .wellName {
    float: left;
  }

  .cardContent:last-child {
    padding: 3px;
    display: flex;

    @media (max-width: 1100px) {
      flex-wrap: wrap;
    }
  }

  .wellNameCol,
  .kpiCol {
    display: flex;
    align-items: center;
  }

  .wellNameCol {
    flex-grow: 1;
    @media (max-width: 1100px) {
      justify-content: center;
    }

     .wellNameButton {
      outline: 0;
      text-transform: none;

      &:hover {
        background-color: white;
      }
    }
  }

  .kpiCol {
    flex-grow: 8;
    justify-content: flex-end;
    & > * {
      margin: 0 0 0 30px;
    }

    @media (max-width: 1100px) {
      justify-content: flex-start;
    }
  }

  .optionsButton {
    &:focus {
      outline: 0;
    }
  }
  .status {
    margin-right: 20px;
  }
}
