@import "../../../../../styles/base";

.drillPhaseCard {
    border-radius: 0;
    border-right: 1px solid rgb(209, 208, 208);

    span {
        font-weight: 400;
    }

    .cardContent {
        padding: 0px;
    }

    .drillPhaseButton {
        min-width: 156px;
        text-align: center;
        height: 100%;

        &:focus {
            outline:0;
        }

        .drillPhaseButtonText {
            color: $gold;
            margin-bottom: 10px;
        }

        .drillPhaseViewerExpanded {
            position: relative;
            bottom: 17px;
        }
    }

    .drillPhaseCodeContainerExpanded {
        margin-top: 10px;
    }

    .alignItem {
        margin-left: 10px;
    }

    .clickListenerContent {
        height: 100%;
    }
}