$gold: #817618;

.drillPhaseCard {
    border-radius: 0px;
    box-shadow: none;
    border-right: 1px solid rgb(209, 208, 208);
    border-bottom: 1px solid rgb(209, 208, 208);

    span {
        font-weight: 400;
    }

    .cardContent {
        padding: 0px;
    }

    .drillPhaseButton {
        display: block;
        text-transform: none;
        min-width: 156px;

        &:focus {
            outline:0;
        }

        .drillPhaseButtonText {
            color: $gold;
        }
    }

    .drillPhaseCodeContainerExpanded {
        margin-top: 10px;

        .drillPhaseCode {
            margin-left: 12px;
        }

        .dropDown {
            margin-left: 10px;
        }
    }

    .drillPhaseCodeContainerCollapsed {
        margin-left: 18px;

        .collapsedDropDown {
            margin-bottom: 3px;
            margin-left: 10px;
        }
    }
}

.expanded {
    padding: 10px 5px 20px;
}