@import "../../../../styles/base";

.menuItem {
    min-width: 185px;
}

.selectedMenuItem {
    background-color: rgba(0, 0, 0, 0.15);
}

.selectedItemIcon {
    position: absolute;
    right: 12px;
    color: $gray;
}

.menuButton:focus {
    outline: 0;
}