@import "../../styles/base";

.statusIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.horizontalCenter {
    @extend .horizontal;
    align-items: center;
}

.horizontalTop {
    @extend .horizontal;
    align-content: flex-start;
    
    h5 {
        margin-right: 3px;
    }
}

.vertical {
    display: flex;
    flex-direction: column;
}

.serverStatus, .zoneStatus {
    @extend .vertical;
}

.serverStatus {
    .badgeGreen span {
        background-color: green;
    }

    .badgeRed span {
        background-color: $conflictRed;
    }
}

.spacer {
    width: 10px;
}

.kpiValue {
    font-weight: bold;
}

.small {
    .kpiValue {
        font-size: 16px;
    }

    .caption {
        font-size: 10px;
    }
}


.root {
    .caption {
        line-height: 1;
    }
}

.status {
    display: flex;
    align-items: center;
}

.italicLabel {
    font-style: italic;
}