.container {
    width: 100%;
    padding: 8px;
    min-width: 320px;

    .slidingLabel {
        color: #AFB42B;
    }

    .rotatingLabel {
        color: #827717;
    }

    .firstColumn, .secondColumn {
         > div:last-child {
            margin-top: 5px;
        }
    }

    .secondColumn {
        min-width: 185px;
    }
}

.spacer {
    width: 20px;
}

.percentageBar {
    position: relative;
    top: -3px;
    .bars {
        position: absolute;
    }
}