.container {
    width: 100%;
    padding: 8px;
    min-width: 320px;

    .slidingLabel {
        color: #AFB42B;
    }

    .rotatingLabel {
        color: #827717;
    }

    .secondColumn {
        min-width: 185px;
    }
}

.spacer {
    width: 20px;
}

.percentageBar {
    position: relative;

    top: -6px;
    .bars {
        position: absolute;
    }
}