.container {
    width: 100%;
    padding: 8px;

    .kpi {
        width: 135px;
    }

    .slidingLabel {
        color: #AFB42B;
    }

    .rotatingLabel {
        color: #827717;
    }
}

.percentageBar {
    position: relative;
    top: -6px;
    .bars {
        position: absolute;
    }
}