.container {
  height: calc(100% - 130px);
  display: flex;
  flex-direction: row;
}

.appAttributePaneBodyContainer {
  height: 100%;
  width: 25%;
  overflow: auto;
}

.lasAttributePaneBodyContainer {
  height: 100%;
  width: 75%;
  overflow: auto;
  padding: 15px;
}
