@import "../../../../styles/table.scss";

.root {
  width: 100%;
  overflow-x: auto
}
.table {
  min-width: 650px;
  .emptyTableMessage {
    text-align: center;
    border-bottom: none;
  }
}

.modalTableContainer {
  height: 70vh;
  width: 1200px;
}

.buttonMode {
  cursor: pointer;
}

.table.comboTable {
  height: 100%;
  display: flex;
  flex-direction: column;
  .tbody {
    width: 100%;
    flex: 1;

    .grid {
      outline: none;
    }
  }

  thead .row, .tbody .row {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    & > * {
      flex: 1;
      overflow: hidden;
      &.actions {
        flex: none;
        width: 33px;
      }
    }
  }
}

.dialog {
  .dialogScrollPaper {
    max-height: none;
  }
  .dialogTitle {
    padding: 0px;
    .closeButton {
      position: relative;
      left: 10px;
      bottom: 5px;
      float: right;
    }

    .titleRow {
      padding: 16px 24px 0 24px;
    }

    .importButton {
      padding: 16px;
    }
  }
  
  
  .dialogContent {
    display: flex;
    justify-content: space-between;
    min-width: 900px;

    .interpretationChart {
      display: flex;
      width: 100%;
    }

    .wellPlanTable {
      td,th {
        padding: 16px;
        
      }
    }

    .wellPlanBody {
      height: 70vh;
    }
  }
}



.icon {
  width: 12px;
  height: 12px;
}
