
.root {
  width: 100%;
  overflow-x: auto
}
.table {
  min-width: 650px
}
.row {
  img {
    width: 15px;
    height: 15px;
    display: inline;
    margin-right: 4px;
  }
  .cell {
    &.actions {
      background: none !important;
      padding-right: 0px;
    }
    &.textField {
      input {
        font-size: 0.875rem;
        padding: 0.63rem 0.4rem;
        &[type=number]::-webkit-inner-spin-button,
        &[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      font-size: 0.875rem;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      max-width: 4em;
    }
    &:first-child:before {
      width: 4px;
      height: 95%;
      border-radius: 6px;
      content: ' ';
      position: absolute;
      left: -6px;
      top: 1px
    }
    display: table-cell;
    position: relative;
    border-radius: 6px 6px 0px 0px;
    border: 2px white solid;
    background-clip: padding-box;
    font-weight: bold;
    white-space: nowrap;
    padding: 8px;
  }
}

$red: rgb(238, 34, 17);
$blue: rgb(0, 167, 255);
$pureBlue: rgb(0, 0, 255);
$pink: rgb(255, 0, 255);
$black: rgb(0, 0, 0);
.surveyRow {
  &.selected {
    .cell {
      &:first-child:before {
        background-color: rgba($black, 1);
      }
      background-color: rgba($black, 0.25);
    }
  }
  .cell {
    background-color: rgba($black, 0.1);
  }
}
.lastSurveyRow {
  &.selected {
    .cell {
      &:first-child:before {
        background-color: rgba($pureBlue, 1);
      }
      background-color: rgba($blue, 0.3)
    }
  }
  .cell {
    background-color: rgba($blue, 0.1)
  }
}
.bitProjRow {
  &.selected {
    .cell {
      &:first-child:before {
        background-color: rgba($pink, 1);
      }
      background-color: rgba($pink, 0.3)
    }
  }
  .cell {
    background-color: rgba($pink, 0.1)
  }
}
.PARow {
  &.selected {
    .cell {
      &:first-child:before {
        background-color: rgba($red, 1);
      }
      background-color: rgba($red, 0.3);
    }
  }
  .cell {
    background-color: rgba($red, 0.1);
  }
}

.dialogTitle {
  .closeButton {
    position: relative;
    left: 10px;
    bottom: 5px;
    float: right;
  }
}

.dialogContent {
  display: flex;
  justify-content: space-between;
  .interpretationChart {
    display: flex;
    width: 100%;
  }
}

.icon {
  width: 20px;
  height: 20px;
}
