@import "../../styles/base";

.interpretationContainer {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  width: 370px;
  flex: none;

  .chart {
    flex: 1;
  }

  .settings {
    flex: none;
  }

  .upArrow {
    margin-bottom: 10px;
  }

  .expandOpen {
    transform: rotate(180deg)
  }

  .switchLabel {
    color: $gray;
    font-size: 12px;
    margin-bottom: 0px;
  }
}

.stepDone {
  color: $lightgray;
  position: relative;
  &::before {
    content: ' ';
    background: url("../../assets/checkCircle.svg");
    background-size: contain;
    width: 12px;
    height: 12px;
    position: absolute;
    left: -30px;
    top: 4px;
  }
}
