.root {
    .label {
        font-weight: bold;
        margin-right: 10px;
        width: 25px;
        text-align: right;
    }

    .value {
        width: 50px;
        text-align: right;
    }

    .draftHelpText {
        color: #828282;
        letter-spacing: 0.33px;
        line-height: 16px;
    }
}