.sectionTitle {
  display: flex;
  align-items: center;
  padding-left: 8px;
  height: 40px;
  border-bottom: 1px solid lightgrey;
}

.sectionTitleTypography {
  color: rgb(158, 157, 106);
}

.sectionFieldsContainer {
  margin: 10px;
}
