@import "../../../styles/base";

.responsiveWrapper {
  height: 100%;
  flex: 1;
  position: relative;
}

.cardLine {
  border-top: 1px solid #dddddd;
  margin: 10px -10px;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.grow {
  flex-grow: 1;
}
.shrink {
  flex-grow: 0;
}

.expand {
  transform: rotate(0deg);
  outline: none;
}
.expand:focus {
  outline: none;
}

.expandOpen {
  transform: rotate(180deg)
}

.comboDashboardWrapper {
  display: flex;
  height: 100%;
}

.kpiColumn {
  display: flex;
  flex: 1;
  margin-right: 10px;
  margin-left: 3px;
  flex-direction: column;
}

.kpiRows {
  display: flex;
  flex: 12;
  flex-direction: column;
  margin-left: 6px;


  .row {
    display: flex;

    > div {
      margin: 3px;
    }
  }

  .graphRow {
    flex-grow: 1;
  }
}

.drillPhaseKpi {
  max-height: 150px;
  margin: 0 3px 3px 8px;
  padding: 12px;
}

.crossSectionDash {
  padding-bottom: 30px;
}

.detailsHeader{
  display: flex;
}

.tableButton {
  margin-left: auto;
}

.icon {
  width: 20px;
  height: 20px;
}

