@import '../styles/base';

.container {
  width: 100vw;
  height: 100vh;

  .appBar {
    box-shadow: none;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .viewport {
    display: flex;
    flex-direction: column;
    height: calc(100% - #{$header-height} - 10px);
    top: $header-height;
    position: relative;
  }

  .navItemActive {
    font-weight: bold;
    text-decoration: underline;
  }

  .logo img {
    height: $header-height;
  }
}
