.container {
  width: 100vw;
  height: 100vh;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .viewport {
    height: calc(100% - 56px);
    top: 56px;
    position: relative;
  }
  
  .navItemActive {
    font-weight: bold;
    text-decoration: underline;
  }  

  .logo img {
    height: 56px;
  }
}