$gold: #817618;

.card {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    border-bottom: 1px solid rgb(209, 208, 208);

    .cardContent {
        padding: 0px;
    }

    .timeSliderTitle {
        color: $gold;
    }
}