.serverInfoContainer {
    .formContainer {
        padding: 0 15px 15px;
    }

    .textInputContainer {
        > div {
            margin-right: 20px;
        }
    }

    .textField {
        min-width: 150px;
    }

    .extendedTextField {
        min-width: 300px;
    }

    .endpointTextField {
        min-width: 250px;
    }
}

.notificationsContainer {
    .formContainer {
        padding: 0 15px 15px;
    }

    .alarmDropdown {
        width: 250px;
        margin-right: 20px;
    }

    button { 
        outline: none;
    }
}