.root {
    display: flex;
    flex: 1;
    .chart {
        flex: 1;

    }
    position: relative;
    .refreshButton {
        position: absolute;
        bottom: 0px;
        left: 10px;
    }
}

