.container {
    position: relative;
    display: flex;

    .kpi {
        position: absolute;
        right: 10px;
        align-items: flex-end;
    }

    .status {
        position: absolute;
        left: 30px;
        align-self: center;
    }
}